{% extends "main_template.html"%}

{% block title %}
역제안
{% endblock %}

{% block main_container %}
<div class="container">
    <h2>역제안</h2>
    <div class="row">
        <div class="col" style="height:300px" id="chart_div"></div>
        <div class="col" id="lineChart"></div>
    </div>
</div>

{% endblock %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        // var dataFromServer = JSON.parse('{{ data_charts | tojson | safe }}');
        // chart 사용 종류 지정
        // data, chart 종류, option(꾸미기)
        // Create the data table.
        var data = new google.visualization.DataTable();   // DatdaTable : class   // data : class
        data.addColumn('string', 'region');
        data.addColumn('number', 'rentFee');
        data.addColumn('string', 'Type');

        // 서버로부터 받은 data_charts JSON을 파싱하여 사용
        var data_charts = JSON.parse('{{ data_charts | tojson | safe }}');


        // 데이터프레임의 각 행을 순회하며 차트 데이터에 추가
        data_charts.forEach(function (row) {
            data.addRow([row.region, row.rentFee, row.type]);
        });


        // Set chart options
        var options = {
            'title': 'Rent Fee by Region and Type',
            // chartArea: { width: '50%' },
            hAxis: {
                title: 'Region',
                minValue: 0
            },
            vAxis: {
                title: 'rentFee'
            }
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);

    }
</script>