<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        방 찾기
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="\css\main.css">
    <link rel="stylesheet" href="\css\find_rooms.css">
    <link rel="stylesheet" href="\css\real_time_serch.css">
    <!-- <link rel="stylesheet" href="\css\commons.css" > -->
</head>

<body>
    <nav class="find_rooms">
        <header>
            <div class="justify-content-center justify-content-md-between py-3 mb-4 border-bottom pb-5">
                <ul class="row nav col-12 col-md-auto mb-2 mb-md-0">
                    <li class="col-8 nav-item">
                        <a class="nav-link" href="/">CO Love House</a>
                    </li>
                    <li class="col-2 nav-item">
                        <a class="nav-link" href="/enter">COEnter Love House</a>
                    </li>
                    <li class="col-2 nav-item">
                        <a class="nav-link" href="/admin/admins">관리자 페이지</a>
                    </li>
                </ul>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/room/ML_find_rooms">운명의 방 찾기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/room/find_rooms">방 찾기</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">공지사항</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" class="dropdown-item"><a href="/notice/notices">공지사항</a></li>
                            <li class="nav-item" class="dropdown-item"><a href="/notice/introductions">사이트 소개</a></li>
                            <li class="nav-item" class="dropdown-item"><a href="/notice/qnas">QNA</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">커뮤니티</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" class="dropdown-item"><a href="/community/communities">커뮤니티 소개</a></li>
                            <li class="nav-item" class="dropdown-item"><a href="/community/promotions">프로모션</a></li>
                            <li class="nav-item" class="dropdown-item"><a href="/community/moveinreviews">입주 후기</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/room/counterproposal">역제안</a>
                    </li>
                </ul>

                <ul class="nav justify-content-end">
                    <form action="/login/logins" method="get">
                        <button type="submit" class="btn btn-outline-primary me-2">Login</button>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage/mypages">마이페이지</a>
                    </li>
                </ul>
            </div>
        </header>
    </nav>
    <main class="find_rooms">
        <div class="row">

            <!-- 검색 부분 -->
            <div class="col-6">
                <form action="">
                    <div class="search_rooms_box">
                        <div class="search_rooms row">
                            <div class="col-2">
                                <select class="form-control" name="room_brand">
                                    <option value="">브랜드</option>
                                    <option value="dears" {{ 'selected' if search_dict.room_brand=='dears' else '' }}>
                                        디어스</option>
                                    <option value="mangrove" {{ 'selected' if search_dict.room_brand=='mangrove' else ''
                                        }}>맹그로브</option>
                                    <option value="hapoom" {{ 'selected' if search_dict.room_brand=='hapoom' else '' }}>
                                        하품</option>
                                    <option value="commontown" {{ 'selected' if search_dict.room_brand=='commontown'
                                        else '' }}>커먼타운</option>
                                    <option value="episode" {{ 'selected' if search_dict.room_brand=='episode' else ''
                                        }}>에피소드</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-control" name="room_type">
                                    <option value="">룸 형태</option>
                                    <option value="single" {{ 'selected' if search_dict.room_type=='single' else '' }}>
                                        1인실</option>
                                    <option value="double" {{ 'selected' if search_dict.room_type=='double' else '' }}>
                                        2인실</option>
                                    <option value="dormitory" {{ 'selected' if search_dict.room_type=='dormitory'
                                        else '' }}>다인실</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input class=searchcss type="search" placeholder="지역명을 입력해 보세요" name="search"
                                    value="{{search_dict.search}}">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="searchbutton btn btn-outline-primary"
                                    formaction="/room/find_rooms" formmethod="post">검색</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% if rooms == False %}
                <p>{{ message }}</p>
                {% else %}
                <div class="col-6"></div>
            </div>
            <div class="row">
                <!-- 방 찾기 부분 -->
                <div class="col-6">

                    <!-- 방 나열 부분 -->
                    <div class="album py-3 bg-body-tertiary" style="overflow:scroll; height:800px;">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                {% for room in rooms %}
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <a href="/room/room_details/{{room.id}}">
                                            <div class="card-img-top">
                                                <img class="roomimg" src="{{ room.room_image }}">
                                            </div>
                                            <div class="card-body">
                                                <span class="brand">{{ room.room_brand }}</span>
                                                <span class="local">{{ room.room_local }}</span>
                                                <span class="title">{{ room.room_title }}</span>
                                                <div class="room_type">{{ room.room_type }}</div>
                                                <div class="room_size">{{ room.room_size }}</div>
                                                <span class="favorite">
                                                    <div class="btn-group">
                                                        <button type="button"
                                                            class="btn btn-sm btn-outline-danger">찜</button>
                                                    </div>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- 지도 부분 -->
                <div class="col-6" id="maps"></div>
            </div>
        </div>
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">CO Love House</a></li>
                <li class="nav-item"><a href="/room/find_rooms" class="nav-link px-2 text-body-secondary">방 찾기</a></li>
                <li class="nav-item"><a href="/notice/notices" class="nav-link px-2 text-body-secondary">공지사항</a></li>
                <li class="nav-item"><a href="/community/communities" class="nav-link px-2 text-body-secondary">커뮤니티</a>
                </li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
        </footer>
    </main>
</body>

<!-- Bootstrap Bundle with Popper.js and Bootstrap JS -->
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'></script>

<!-- google maps -->
<script>
    let map;

    // Coordinates and Location Names
    let locations = [
        { lat: 37.5666791, lng: 126.9782914, name: '서울' },
        { lat: 37.566535, lng: 126.9779692, name: '광화문' },
        { lat: 37.5586867, lng: 126.9782364, name: '명동' }
    ];
    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");

        // 아래 표시 지도
        map_center = new Map(document.querySelector("#maps"), {         // map_center 지도에 marker 표시하기 //
            center: { lat: 37.5666791, lng: 126.9782914 },   // markers 위한 중앙 값 //
            zoom: 13,
        });
        // Add Markers and Info Windows
        for (let i = 0; i < locations.length; i++) {
            let marker = new google.maps.Marker({
                position: locations[i],
                map: map_center,
                title: locations[i].name
            });

            // marker 풍선말 넣기
            let infowindow = new google.maps.InfoWindow({
                content: locations[i].name
            });
            marker.addListener('click', function () {
                infowindow.open(map_center, this);
            });
        }
    }
</script>
<!-- Google Maps API Script -->
<!-- 내 Google Maps Platform API 키 : AIzaSyAuHnEEdm3a2zGUAj1RUApmRHlHYQC -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuHnEEdm3a2zGUAj1RUApmRHlHYQC-1uE&callback=initMap" async
    defer></script>

<style>
    #maps {
        height: 800px;
    }
</style>

</html>