{% extends "main_template.html"%}

{% block title %}

{% endblock %}

{% block main_container %}
<div class="container" style="padding-top: 70px; padding-bottom: 100px; text-align: center; ">
    <!-- 제목 -->
    <span class="room_details brand">{{ rooms.brandType }} </span>
    <span class="room_details local">{{ rooms.region }} </span>
    <span class="room_details title">{{ rooms.roomName }}</span>
    <hr>
    <!-- 이미지 슬라이드 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ rooms.imgUrl }}" class="d-block w-100" style=" height: 800px;" alt="...">
            </div>
            <div class="carousel-item">
                {% if rooms.room_image_two %}
                <img src="{{ rooms.imgUrl }}" class="d-block w-100" style=" height: 800px;" alt="...">
                {% else %}
                <img src="{{ rooms.imgUrl }}" class="d-block w-100" style=" height: 800px;" alt="...">
                {% endif %}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- 버튼 -->
    <div class="tab-btn-list" style="text-align: center; margin-top: 50px; margin-bottom: 50px;" >
        <div class="tab-btn" style="display:inline-block">지점 소개</div>
        <div class="tab-btn" style="display:inline-block">상세 정보</div>
        <div class="tab-btn" style="display:inline-block">위치 및 교통</div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            투어신청
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">투어 신청하기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">신청하기</button>
                </div>
            </div>
            </div>
        </div>

    </div>
    <!-- 내용 -->
    <div class="tab-list text-center">
        <div> 상세 정보 </div>
        <div>집 구성</div><div>{{ rooms.roomType }} {{ rooms.gender }}</div>
        <div>평수</div><div>{{ rooms.py }}㎡</div>
        <div>세대 옵션</div><div>{{ rooms.roomOption }}</div>
        <div>보증금</div><div>{{ rooms.deposit }}</div>
        <div>월세</div><div>{{ rooms.rentFee }}</div>
        <div>url</div><div>{{ rooms.url }}</div>
        <hr>
        <div> 위치 및 교통 </div>
        <div>
            {{ rooms.region }}
        </div>
        <div id="maps"></div>
    </div>
</div>


<!-- Bootstrap Bundle with Popper.js and Bootstrap JS -->
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'></script>

<!-- google maps -->
<script>
    let map;

    // Coordinates and Location Names
    let locations = [
        { lat: 37.5666791, lng: 126.9782914, name: '서울' },
    ];
    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");

        // 아래 표시 지도
        map_center = new Map(document.querySelector("#maps"), {         // map_center 지도에 marker 표시하기 //
            center: { lat: 37.5666791, lng: 126.9782914 },   // markers 위한 중앙 값 //
            zoom: 13,
        });
        // Add Markers and Info Windows
        for (let i = 0; i < locations.length; i++) {
            let marker = new google.maps.Marker({
                position: locations[i],
                map: map_center,
                title: locations[i].name
            });

            // marker 풍선말 넣기
            let infowindow = new google.maps.InfoWindow({
                content: locations[i].name
            });
            marker.addListener('click', function () {
                infowindow.open(map_center, this);
            });
        }
    }
</script>
<!-- Google Maps API Script -->
<!-- 내 Google Maps Platform API 키 : AIzaSyAuHnEEdm3a2zGUAj1RUApmRHlHYQC -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuHnEEdm3a2zGUAj1RUApmRHlHYQC-1uE&callback=initMap" async
    defer></script>

<style>
    #maps {
        height: 500px;
    }
</style>



{% endblock %}