{% extends "main_admin_template.html"%}

{% block title %}
QNA 관리
{% endblock %}

{% block main_container %}
<div class="container" >
    <h2>QNA 관리</h2>
    <form action="">
        <!-- 검색 -->
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <button type="submit" formaction="//" class="searchbutton btn btn-outline-primary">
                    작성</button>
            </div>
        </div>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성일</th>
              </tr>
          </thead>
          <tbody>
            {% for notice in notices %}
              <tr>
                  <td>{{loop.index0+1}}</td>
                  <td><a href="/admin/adminqnas/{{notice.id}}">{{notice.notice_title}}</a></td>
                  <td>24/01/17</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>  
</div>
{% endblock %}

{% block footer %}
{% endblock %}